/* Carousel dimensions */
.carousel-item {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .carousel-item img {
    width: 500px;
    height: 400px;
    object-fit: cover;
  }

  #img1,
  #img2,
  #img3,
  #img4,
  #img5,
  #img6,
  #img7,
  #img8 {
    height: 200px;
    width: 300px;
  }

  /*css*/
  /* Custom hex color */
  .custom-nav-light {
    background-color: #af9d85;
  }

  .custom-nav-dark {
    background-color: #8b7761;
  }

  .footer-light {
    background-color: #af9d85;
    color: white;
  }

  .footer-dark {
    background-color: #8b7761;
    color: white;
  }

  body.light-mode {
    background-color: white;
    color: black;
  }

  body.dark-mode {
    background-color: black;
    color: white;
  }

  .btn-toggle {
    margin-left: auto;
  }

  /*Carousel dimensions */

  body.dark-mode .card {
    background-color: #2a2a2a;
    /* Dark background for card in dark mode */
    color: white;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
    /* Glowing effect */
  }
  /*old css end*/
  .vidcontainer, .vidcontainer1 {
    height: 80vh;
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  .video {
    width: 4000px;
    height: 100%;
    pointer-events: none;
    margin-left: 50%;
    transform: translate(-50%);
  }
